mode_in_use=0
mode_default=3
show_panel_entry=false
panel_entry_size=150
port=2628
server=dict.org
dict=*
spell_bin=/usr/bin/enchant
spell_dictionary=en_US
link_color=#0000FF
phonetic_color=#006300
error_color=#800000
success_color=#107000
geometry=-1;0;0;0;0;
speedreader_font=Sans 32
speedreader_wpm=400
speedreader_grouping=1
speedreader_mark_paragraphs=false

