html,body{
    width:405px;
    height:220px;
    overflow: hidden;
}

body{
    color: black;
    background: #fff;
    margin: 0px;
}
#wrapper{ 
    margin: 0 0 1em;
    width: 300px;
    font-family: "Arial", sans-serif;
    font-size: 12px;
    padding: 5px 100px 5px 5px;
    background: url('../img/mr_wips.png') no-repeat 320px 50%;
    min-height: 180px;
}
a:not(.blue){
    color: inherit;
    text-decoration: none;
}
.separator{
    width: 100%;
    border-top: 2px groove white;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-right: -8px;
}
.menu-entry {
    padding: 4px 5px;
    cursor:pointer;
    text-align: center;
    border: 1px solid #c0c0c0;
    border-radius: 3px;
    margin-bottom: .5em;
    background-color: #f0f0f0;
}
.menu-entry:hover {
    border-color: #b0b0b0;
    background-color: #e0e0e0;
}
#div_status_disabled{
    border: 0;
    background-color: transparent;
    padding: 3px 4px;
    cursor: default;
}
.info {
    background: #dddddd;
    border: 1px solid gray;
    border-radius: 5px;
    margin: 5px;
    padding-left: 5px;
    padding-right: 5px;
}
#titletext {
    margin: .2em 0 .5em;
}
#titletext span {
    font-weight: bold;
    cursor: pointer;
    padding: 0 0 0 38px;
    background: url('../img/icon32.png') no-repeat 0 50%;
}
#titletext span:hover {
    text-decoration: underline;
}
.box-wrapper {
    margin: 5px 5px 5px 0px;
}
.box {
    background:white; 
    border-radius: 5px;
    border: 1px solid black; 
    padding: 10px;
}
#pay_open {
    padding-bottom: 3px;
}
#newtitle {
    font-weight: bold;
    font-size: 1.1em;
    margin-bottom: 5px;
}
#new_release_close, #pay_close {
    margin: -7px 0px 0px 0px;
    font-family: "Courier", sans-serif;
}
#new_release_close {
    margin-right: -3px !important;
}


#login{
    display:none;
}

#menu_share
{
    position: absolute;
    top: 185px;
    z-index: 5000001;
    width: 385px;
}
#social_show{
    display: block;
    cursor: pointer;
    height: 26px;
    background: url('../img/button_left.png') no-repeat 0 0, url('../img/button_right.png') no-repeat 100% 0, url('../img/share_ico.png') no-repeat 10px 50%, url('../img/button_bg.png') repeat-x 0 0;
    float: right;
    line-height: 26px;
    padding: 0 10px 0 23px;
    color: #52c9f2;
    cursor: pointer;
    text-decoration: none;
    font-weight: bold;
    font-size: 90%;
    text-shadow: rgba(255,255,255,0.5) 0px 1px 1px;
    text-align: center;
}

.social_control:hover, #social_show:hover {
    background-position: 0 100%, 100% 100%, 10px 50%, 0 100%;
    color: #fff;
    text-shadow: rgba(155,155,155,0.5) 0px 1px 1px;
}
/* Share box */

#social
{
    display: none;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 5000000;
    background: url('../img/popup_bg.png') repeat 0 0;
}



#social .top
{
    padding: 50px 0 25px 0;
    text-align: center;
    color: #fff;
    font-size: 24px;
    line-height: 30px;
}

#social ul
{
    margin: 0 0 0 27px;
    list-style-type: none;
    padding:0;
}

#social ul li
{
    float: left;
    text-align: center;
    width: 110px;
    padding:0;
    margin:0;
}

#social ul li:first-child
{
    width: 135px;
}

#social ul li:last-child
{
    width: 70px;
    margin-left: 15px;
}

#social ul li .fb-like iframe
{
    margin: 0 auto;
}