<?xml version="1.0" encoding="utf-8"?>
<AddinSystemConfiguration xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <Repositories>
    <Repository id="rep0">
      <IsReference>false</IsReference>
      <File>/home/zezhyrule/.config/MonoDevelop-4.0/repository-cache/addins.monodevelop.com_0.mrep</File>
      <Url>http://addins.monodevelop.com/Stable/Linux/4.0/main.mrep</Url>
      <Name>MonoDevelop Add-in Repository</Name>
      <LastModified>1900-01-01T00:00:00</LastModified>
    </Repository>
    <Repository id="rep1">
      <IsReference>false</IsReference>
      <File>/home/zezhyrule/.config/MonoDevelop-4.0/repository-cache/addins.monodevelop.com_1.mrep</File>
      <Url>http://addins.monodevelop.com/Beta/Linux/4.0/main.mrep</Url>
      <Name>MonoDevelop Add-in Repository (Beta channel)</Name>
      <LastModified>1900-01-01T00:00:00</LastModified>
    </Repository>
    <Repository id="rep2">
      <IsReference>false</IsReference>
      <File>/home/zezhyrule/.config/MonoDevelop-4.0/repository-cache/addins.monodevelop.com_2.mrep</File>
      <Url>http://addins.monodevelop.com/Alpha/Linux/4.0/main.mrep</Url>
      <Name>MonoDevelop Add-in Repository (Alpha channel)</Name>
      <LastModified>1900-01-01T00:00:00</LastModified>
      <Enabled>false</Enabled>
    </Repository>
    <Repository id="rep3">
      <IsReference>true</IsReference>
      <File>/home/zezhyrule/.config/MonoDevelop-4.0/repository-cache/addins.monodevelop.com_3.mrep</File>
      <Url>http://addins.monodevelop.com/Stable/Linux/4.0/root.mrep</Url>
      <Name>MonoDevelop Add-in Repository</Name>
      <LastModified>2013-02-25T16:50:50-06:00</LastModified>
    </Repository>
  </Repositories>
  <RepositoryIdCount>4</RepositoryIdCount>
  <DisabledAddins />
  <AddinPaths />
</AddinSystemConfiguration>