.gc-call-popup {
  padding: 0;
  border: 2px solid #6688EE;
  background-color: #6688EE;
  position: absolute;
  z-index: 10001;
  visibility: hidden;
  font-family: arial, sans-serif;
  top: 0;
  right: 0;
  width: 240px;
  -webkit-border-radius: 5px 5px;
  -webkit-box-shadow: 2px 2px 6px #777;
  text-align: left;
}

div.gc-call-popup div {
  height: auto;
  font-family: arial, sans-serif;
}

span.gc-cs-link {
  color: #03B;
  text-decoration: underline;
  cursor: pointer;
}

.gc-cs-calli {
  font-weight: bold;
  padding: 3px 8px 4px 30px;
  background: #6688EE no-repeat 6px 3px;
  color: #fff;
  font-size: 15px;
}

.gc-cs-calli img {
  position: absolute;
  top: 4px;
  right: 5px;
  cursor: pointer;
}

.gc-cs-content {
  padding: 8px 10px 10px;
  background-color: #fff;
  -webkit-border-radius: 0 0 5px 5px;
  height: auto;
}

div.gc-cs-content div {
  height: auto;
}

.gc-cs-cwith {
  padding: 0 0 2px 0;
  font-size: 13px;
  font-weight: bold;
  height: inherit;
}

.gc-call-popup .gc-cs-phone {
  margin: 0 0 8px 0;
  height: inherit;
}

.gc-call-popup .gc-quickcall-msg,
.gc-call-popup .gc-quickcall-err {
  margin: 0px 3px 0px 5px;
  padding: 4px 6px 4px;
  min-width: 90px;
  font-size: 13px;
  vertical-align: middle;
}

.gc-call-popup .gc-quickcall-msg {
  background-color: #eff3f8;
}

.gc-call-popup .gc-quickcall-err {
  background-color: #f8c3c3;
  color: #8c0a0a;
}

/* GOOG Styles */

.gc-call-popup .goog-button-base {
  cursor: default;
  font-family: Arial, sans-serif;
  letter-spacing: normal;
  margin: 0 1px;
  outline: none;
  text-align: center;
  text-indent: 0;
  text-transform: none;
  vertical-align: baseline;
  white-space: nowrap;
  word-spacing: normal;
}

.gc-call-popup .goog-button-base-outer-box {
  border-top: 1px solid #bbb;
  border-bottom: 1px solid #aaa;
}

.gc-call-popup .goog-button-base-inner-box {
  background: #e3e3e3;
  border-left: 1px solid #bbb;
  border-right: 1px solid #aaa;
  margin: 0 -1px;
}

.gc-call-popup .goog-button-base-pos {
  height: 100%;
  position: relative;
}

.gc-call-popup .goog-button-base-top-shadow {
  background: #f9f9f9;
  border-bottom: .23em solid #eee;
  height: 9px;
  left: 0;
  overflow: hidden;
  position: absolute;
  right: 0;
  top: 0;
}

.gc-call-popup .goog-button-base-content {
  color: #333;
  line-height: 21.45px;
  position: relative;
  padding: 0 6px;
  text-align: center;
  font-size: 13px;
}

.gc-call-popup .goog-flat-menu-button {
  font-size: 13px;
}

.gc-call-popup .goog-flat-menu-button-caption {
  font-size: 13px;
}


/* State: Hover, Focused */

.goog-button-base-hover .goog-button-base-content,
.goog-button-base-focused .goog-button-base-content {
  color: #000;
}

.goog-button-base-hover .goog-button-base-outer-box,
.goog-button-base-hover .goog-button-base-inner-box,
.goog-button-base-focused .goog-button-base-outer-box,
.goog-button-base-focused .goog-button-base-inner-box {
  border-color: #888;
}


/* State: Active, Open */

.gc-call-popup .goog-button-base-active .goog-button-base-inner-box,
.gc-call-popup .goog-button-base-open .goog-button-base-inner-box {
  background: #f9f9f9;
}

.gc-call-popup .goog-button-base-active .goog-button-base-top-shadow,
.gc-call-popup .goog-button-base-open .goog-button-base-top-shadow {
  background: #e3e3e3;
}

.gc-call-popup .goog-button-base-active .goog-button-base-content,
.gc-call-popup .goog-button-base-open .goog-button-base-content {
  color: #000;
}


/* State: Disabled */

.goog-button-base-disabled {
  cursor: default;
}

.gc-call-popup .goog-button-base-disabled .goog-button-base-inner-box,
.gc-call-popup .goog-button-base-disabled .goog-button-base-top-shadow {
  background: #eee;
}

.gc-call-popup .goog-button-base-disabled .goog-button-base-top-shadow {
  border-color: #eee;
}

.gc-call-popup .goog-button-base-disabled .goog-button-base-content {
  color: #999;
}

/* goog.ui.Menu */

div.gc-cs {
  position: absolute;
  color: #000;
  border: 1px solid #B5B6B5;
  background-color: #f6f8fd;
  cursor: default;
  font: normal small arial, helvetica, sans-serif;
  margin: 0px;
  padding: 0px;
  outline: none;
  top: 0;
  left: 0;
  z-index: 10001;
}

.gc-cs .goog-menuitem {
  position: relative;
  padding: 2px 1.5em 2px 5px;
  margin: 0px;
  list-style: none;
  cursor: pointer;
}

.gc-cs .goog-menuitem-rtl {
  padding: 2px 5px 2px 1.5em;
}

.gc-cs .goog-menuitem-highlight {
  background: #e3e9ff;
}

.gc-cs .goog-option-selected {
  background: #68e;
}

.gc-simple-menu .goog-menuitem-highlight,
.gc-simple-menu .goog-option-selected {
  background: #d6e9f8;
}

.gc-phone-menu {
  min-width: 160px;
}

.gc-cs .goog-menuitem-disabled {
  color: #999;
}

.gc-cs .goog-option-selected {
  color: #fff;
}

.gc-cs .goog-option {
  position: relative;
  padding: 2px 16px 2px 5px;
  margin: 0px;
  list-style: none;
  cursor: pointer;
}

.gc-cs .goog-option-selected {
  font-weight: normal;
}

.gc-call-popup .goog-menuitem {
  text-align: left;
}

.gc-call-popup .goog-menuitem-content {
  font-size: 13px;
}

.gc-call-popup .goog-inline-block {
  position: relative;
  display: inline-block;
}

.gc-call-popup div.goog-button-base {
  font-size: 13px;
}

.gc-call-popup .goog-button-base-pos {
  height: inherit;
}

.gc-call-popup div.goog-flat-menu-button-dropdown {
  background: url(toolbar_icons.gif) no-repeat -176px;
}