body {
	background-color: white;
	min-width: 350px;
	font-family: Arial, sans-serif;
	margin: 0px;
	padding: 0px;
}

p {
	margin-top: 10px;
}

#content {
	margin:0px auto;
}

#icon {
	width: 50px;
	height: 50px;
	padding: 5px 10px 10px 10px;
	float:left;
}

#title {
	position: absolute;   
	height: auto; 
	width: 210px;    
	left: 70px;
	overflow:hidden;
	word-wrap:break-word;
}

#title p {
	font-size: 12px;
	font-weight: bold;
}

#links {
	color: #daa527;
	padding-top: 45px;
	margin-bottom: 10px;
}

#links a {
	font-size: 12px;
	color: #daa527;
	text-decoration: none;
}